.App {
  width: 800px;
  margin: 0 auto;
}

.header_wrap h1 {
  font-size: 1.8em;
}

.footer_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_author {
  color: #000;
  font-weight: 700;
}

.footer_author:hover {
  color: red;
}