body {
  background: #e9e8e8;
}

.App {
  width: 800px;
  margin: 0 auto;
}

.header_wrap h1 {
  font-size: 1.8em;
}

.footer_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_author {
  color: #000;
  font-weight: 700;
}

.footer_author:hover {
  color: #cc0000;
}

.main_list {
  padding: 0;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.main_list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
  border: 1px solid #000000;
}

.main_list__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main_list__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}